In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('salaryData.csv')
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [36]:
df.shape

(375, 6)

In [37]:
df.describe()

              Age  Years of Experience         Salary
count  373.000000           373.000000     373.000000
mean    37.431635            10.030831  100577.345845
std      7.069073             6.557007   48240.013482
min     23.000000             0.000000     350.000000
25%     31.000000             4.000000   55000.000000
50%     36.000000             9.000000   95000.000000
75%     44.000000            15.000000  140000.000000
max     53.000000            25.000000  250000.000000

In [38]:
df.columns.tolist()
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [39]:
df.dropna(inplace=True)

In [40]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [41]:
df.dtypes

Age                    float64
Gender                  object
Education Level         object
Job Title               object
Years of Experience    float64
Salary                 float64
dtype: object

In [42]:
df['Job Title'].value_counts()

Job Title
Director of Marketing             12
Director of Operations            11
Senior Business Analyst           10
Senior Marketing Manager           9
Senior Marketing Analyst           9
                                  ..
Junior Social Media Specialist     1
Junior Operations Coordinator      1
Senior HR Specialist               1
Director of HR                     1
Junior Financial Advisor           1
Name: count, Length: 174, dtype: int64

In [43]:
df['Education Level'].value_counts()

Education Level
Bachelor's    224
Master's       98
PhD            51
Name: count, dtype: int64

In [44]:
df_edited = df.groupby('Job Title').filter(lambda x: len(x) > 4)
df_edited.info()
df_edited['Job Title'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 47 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  147 non-null    float64
 1   Gender               147 non-null    object
 2   Education Level      147 non-null    object
 3   Job Title            147 non-null    object
 4   Years of Experience  147 non-null    float64
 5   Salary               147 non-null    float64
dtypes: float64(3), object(3)
memory usage: 8.0+ KB

Job Title
Director of Marketing                    12
Director of Operations                   11
Senior Business Analyst                  10
Senior Marketing Manager                  9
Senior Marketing Analyst                  9
Junior Business Analyst                   8
Senior Project Manager                    7
Senior Data Scientist                     7
Senior Financial Analyst                  7
Junior Business Development Associate     7
Junior Financial Analyst                  7
Senior Software Engineer                  6
Senior Product Manager                    6
Junior Marketing Coordinator              6
Senior Project Coordinator                5
Junior Operations Analyst                 5
Junior Marketing Specialist               5
Senior Product Designer                   5
Junior Project Manager                    5
Senior Operations Manager                 5
Senior Financial Manager                  5
Name: count, dtype: int64

In [45]:
df_edited['Job Title'] = df_edited['Job Title'].astype('category')
df_edited['Job Title Encoded'] = df_edited['Job Title'].cat.codes
df_edited.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Job Title Encoded
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0,0
60,51.0,Female,Master's,Director of Operations,23.0,170000.0,1
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0,10
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0,11
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0,20

In [46]:
df_edited.dtypes

Age                     float64
Gender                   object
Education Level          object
Job Title              category
Years of Experience     float64
Salary                  float64
Job Title Encoded          int8
dtype: object

In [47]:
df_edited['Education Level'] = df_edited['Education Level'].astype('category')
df_edited.dtypes

Age                     float64
Gender                   object
Education Level        category
Job Title              category
Years of Experience     float64
Salary                  float64
Job Title Encoded          int8
dtype: object

In [48]:
df_edited['Education Level Encoded'] = df_edited['Education Level'].cat.codes
df_edited.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Job Title Encoded,Education Level Encoded
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0,0,1
60,51.0,Female,Master's,Director of Operations,23.0,170000.0,1,1
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0,10,2
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0,11,1
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0,20,1

In [49]:
df_edited['Gender'] = df_edited['Gender'].astype('category')

In [50]:
df_edited['Gender Encoded'] = df_edited['Gender'].cat.codes
df_edited.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Job Title Encoded,Education Level Encoded,Gender Encoded
47,45.0,Female,Master's,Director of Marketing,16.0,180000.0,0,1,0
60,51.0,Female,Master's,Director of Operations,23.0,170000.0,1,1,0
63,47.0,Male,PhD,Senior Data Scientist,21.0,180000.0,10,2,1
69,49.0,Female,Master's,Senior Financial Analyst,18.0,150000.0,11,1,0
77,32.0,Male,Master's,Senior Software Engineer,6.0,100000.0,20,1,1

In [51]:
df_final = df_edited.drop(['Gender', 'Education Level', 'Job Title'], axis=1)
df_final.head()

,Age,Years of Experience,Salary,Job Title Encoded,Education Level Encoded,Gender Encoded
47,45.0,16.0,180000.0,0,1,0
60,51.0,23.0,170000.0,1,1,0
63,47.0,21.0,180000.0,10,2,1
69,49.0,18.0,150000.0,11,1,0
77,32.0,6.0,100000.0,20,1,1

In [52]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, 47 to 374
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      147 non-null    float64
 1   Years of Experience      147 non-null    float64
 2   Salary                   147 non-null    float64
 3   Job Title Encoded        147 non-null    int8
 4   Education Level Encoded  147 non-null    int8
 5   Gender Encoded           147 non-null    int8
dtypes: float64(3), int8(3)
memory usage: 5.0 KB

In [53]:
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression   
from sklearn.metrics import mean_squared_error

In [54]:
X = df_final.iloc[:,[0,1,3,4,5]]
y = df_final.iloc[:,2]

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [56]:
X_train.head()

,Age,Years of Experience,Job Title Encoded,Education Level Encoded,Gender Encoded
273,47.0,20.0,0,1,0
63,47.0,21.0,10,2,1
231,43.0,15.0,19,0,1
343,41.0,14.0,17,0,1
47,45.0,16.0,0,1,0

In [57]:
y_train.head()

273    180000.0
63     180000.0
231    120000.0
343    150000.0
47     180000.0
Name: Salary, dtype: float64

In [58]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [59]:
y_pred = reg.predict(X_test)

In [60]:
err = np.sqrt(mean_squared_error(y_test, y_pred))

In [61]:
y_pred, y_test

(array([148570.77814504,  62466.91953181,  98100.9138154 ,  83458.83091312,
         94341.87473124,  57897.62886565,  84184.64545356, 174658.68224003,
         84412.4956675 ,  65044.44364766,  46727.84945848, 127655.10297684,
         46955.69967241, 164003.48863585,  99379.3223556 , 145003.51394775,
         45390.72568606,  59414.24113751, 172410.15761187, 185404.67160023,
        111867.671189  , 129914.15126562, 185404.67160023, 110409.94429226,
         98100.9138154 ,  78010.04977211, 166600.46660228,  70297.28495563,
         44935.02525818, 154021.49215575]),
 211    150000.0
 147     60000.0
 352    110000.0
 193     95000.0
 257     95000.0
 280     50000.0
 340     90000.0
 353    180000.0
 213     85000.0
 369     60000.0
 212     40000.0
 367    150000.0
 224     40000.0
 309    170000.0
 154     95000.0
 362    150000.0
 360     40000.0
 327     55000.0
 279    180000.0
 217    180000.0
 296    130000.0
 315    130000.0
 258    180000.0
 248     95000.0
 328    110000.0
 186     95000.0
 179    170000.0
 339     70000.0
 292     40000.0
 297    160000.0
 Name: Salary, dtype: float64)

In [62]:
err

np.float64(8831.229056435419)

In [63]:
print(pd.DataFrame(zip(X.columns, reg.coef_)))
print(reg.intercept_)

                         0            1
0                      Age  1972.312700
1      Years of Experience  4341.440452
2        Job Title Encoded   227.850214
3  Education Level Encoded  6680.760836
4           Gender Encoded  4448.687542
-22312.025222151642

In [64]:
pickle.dump(reg, open('model.pkl', 'wb'))